@import "theme";

$voteWidth: 40px;
.eval {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .25rem;
}

.vote {
  i {
    &.active {
      color: $SCUred;
    }
    font-size: 28px;
    margin: 5px 0;
    color: $overlayBackground;
    cursor: pointer;
  }
  float: left;
  width: $voteWidth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //border-right: 1px solid $backgroundColor;
  position: absolute;
  height: 100%;
  background-color: $backgroundColor;

}

.evalContent {
  margin-left: $voteWidth;
  width: calc(100% - #{$voteWidth});
}

.evalInfo.row {
  border-left: 1px solid rgba(0, 0, 0, .2);
  margin: 0;
  div {
    width: 50%;
    padding: 0;
    display: inline-block;
    background-color: $backgroundColor;
    font-size: 16px;
    padding: 5px;
    color: $overlayBackground;
    font-weight: bold;
  }
}

.scores {
  margin: 0;
  color: white;
  height: 78px;
  position: relative;
  overflow: auto;
  .scoreBlock {
    padding: 5px 0;
    font-size: 15px;
    .scoreTitle {
      font-weight: bold;
      margin-bottom: 5px;
    }
    .scoreNum {
      width: 38px;
      margin: 0 auto;
      height: 38px;
      display: flex;
      border: 3px solid white;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }
  background-color: $SCUred;
}

.comment {
  text-align: initial;
  .commentQuote {
    text-align: center;
    font-style: oblique;
    padding: 15px;
  }
  .commentReport {
    text-align: right;
    margin: 15px;
    cursor: pointer;
  }
}
