@import "theme";

footer {
  color: white;
  background: $overlayBackground;
  height: $footerHeight;

  :global(.container) {
    height: 100%;
    position: relative;

    a {
      @include alternateLink;

      position: absolute;
      height: 100%;
      display: flex;
      align-items: center;
      font-weight: normal;
      padding: 0 5px;

      &:first-of-type {
        left: 10px; //+5px padding = 15px
      }

      &:last-of-type {
        right: 10px; //+5px padding = 15px
      }
    }
  }
}
