@import "theme";

header {
  flex-flow: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  height: $headerHeight;
  z-index: 1;
  width: 100%;
  background-color: $overlayBackground;
  color: white;

  .text-help {
    position: absolute;
    top: 38px;
    background-color: $SCUred;
    z-index: 2;
    border-radius: $defaultBorderRadius;
    padding: 4px 8px;
    font-size: 13px;
    opacity: 0;
    visibility: hidden;
  }

  .search-error {
    input:focus {
      border-color: $SCUred !important;
    }

    input:focus ~ .text-help {
      visibility: visible;
      opacity: 1;
    }
  }

  .input-group-btn > button:focus {
    box-shadow: none;
  }

  .signOutBtn {
    top: 0;
    right: 10px; //+5px for padding = 15px
    position: absolute;
  }

  .profileBtn,
  .signOutBtn,
  .homeBtn {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: normal;
    background-color: transparent;
    padding: 0 5px;
  }

  .homeBtn {
    color: $SCUred;
    font-size: 1.75rem;
    position: absolute;
    left: 10px;
    top: 0;
    border-radius: $defaultBorderRadius;

    &:hover {
      color: $SCUdarkred;
      background-color: transparent;
    }

    &:focus {
      color: $SCUred;
    }
  }

  .profileBtn,
  .signOutBtn {
    color: white;

    &:focus {
      color: white;
    }

    &:hover {
      background-color: transparent;
      color: $hoverOverlayLinkColor;
    }
  }

  .profile-img {
    height: 32px;
    border-radius: 50%;
    margin-left: 8px;
  }

  .header-items {
    position: relative;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  :global(#searchBar) {
    input {
      z-index: 3;
      border-color: white;

      &:focus {
        border-color: $focusColor;
      }
    }

    :global(#searchBarResults[style='']) ~ input { //make sure style not display: none
      border-bottom-left-radius: 0 !important;
    }

    i,
    i:hover {
      color: white;
    }

    :global(#searchBarResults) {
      border-top: 0 !important;
      top: 40px;
      position: absolute;
      width: calc(100% - 30px - 41px); //30px for 15px x2 padding, 41px for search button
      max-height: 212px;
      overflow: auto;
      background-color: white;
      z-index: 1;
      text-align: left;
      list-style-type: none;
      padding-left: 0;
      border: 2px solid $backgroundColor;
      border-radius: 0 0 $defaultBorderRadius $defaultBorderRadius;

      h6,
      li {
        padding: 5px;
      }

      h6 {
        font-weight: bold;
        background-color: $overlayBackground;
        color: white;
        margin: 0;
      }

      a[tabindex='0'] {
        cursor: pointer;
        color: $overlayBackground;
        font-weight: bold;
        display: block; //needed for transparent border to work (a is focusable because tabindex is on it)
        outline: 1px solid $backgroundColor;

        &:hover {
          border: 2px solid $backgroundColor;
        }

        &:hover li,
        &:focus li {
          color: $SCUdarkred;
          background-color: $backgroundColor;
        }

        &:last-child li {
          border-bottom: none;
        }
      }
    }
  }
}
