@import 'theme';

.home {

  &.login {
    width: 258px; //270px when font-weight is bold

    .logo {
      border-radius: $defaultBorderRadius;
      background: $SCUred;
      color: white;
      font-size: 3rem;
    }

    .loginBtn {
      padding: 0;
      border: 0;
      color: white;
      border-radius: $defaultBorderRadius;
      background: $SCUred;
      width: 100%;
      font-weight: 600;
      height: 51px;

      &:hover {
        background: $SCUdarkred;
      }

      img {
        cursor: pointer;
        height: 100%;
        padding: 2px;
        border-radius: $defaultBorderRadius;
        width: 47px; //width set for alt text to have container
      }

      span {
        cursor: pointer;
        font-size: 19px;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100%;
      }
    }
  }

  .title {
    font-weight: bold;
    color: $SCUred;
  }

  .linkBtns {
    margin:  0 -7.5px;

     a {
       margin: 7.5px;
     }
  }
}
