@import "theme";

:global(.rc-slider-handle) {
  border-color: black !important;
  height: 33px;
  width: 33px;
  margin-left: -18px;
  margin-top: -9.5px;
  background-color: white;

  .handleNum {
    font-weight: bold;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}

:global(.rc-slider-handle:hover),
:global(.rc-slider-handle:active) {
  border-color: black !important;
  box-shadow: 0 0 0 2px $focusColor !important;
}

:global(.rc-slider-handle:focus) {
  border-color: $focusColor !important;
  box-shadow: 0 0 0 2px $focusColor !important;
}

:global(.rc-slider) {
  margin: 9px auto;
  width: 300px;
  max-width: 90%;
  height: 15px;
  padding: 0;

  &-rail {
    background-color: $overlayBackground;
    height: 15px;
  }

  &-step {
    bottom: 0;
  }

  &-dot {
    border: 0;
    bottom: 0;
    width: 2px;
    color: white;
    border-radius: 0;
    background-color: white;
    height: 15px;
  }

  &-track {
    background-color: $overlayBackground;
    transition: $defaultTransition;
    height: 15px;
  }

  &-handle {
    transition: $defaultTransition;
  }
}

:global(.rc-slider-dot:first-child),
:global(.rc-slider-dot:last-child) {
  display: none;
}

.popper {
  position: absolute;
  background: $SCUred;
  color: white;
  border-radius: $defaultBorderRadius;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
  z-index: 1;
}

.tooltip-popper {
  font-size: 14px;
  z-index: 2;
}

.popper-manager,
.popper {
  transition: $defaultTransition;
}

:global(.track1) {
  background-color: red;
}

:global(.track2) {
  background-color: orange;
}

:global(.track3) {
  background-color: greenyellow;
}

:global(.track4) {
  background-color: green;
}

:global(.workload .track1),
:global(.difficulty .track1) {
  background-color: green;
}

:global(.workload .track2),
:global(.difficulty .track2) {
  background-color: yellow;
}

:global(.workload .track3),
:global(.difficulty .track3) {
  background-color: orange;
}

:global(.workload .track4),
:global(.difficulty .track4) {
  background-color: red;
}

.popper .popper__arrow {
  width: 0;
  height: 0;
  position: absolute;
  margin: 5px;
  border: solid $SCUred;
}

.popper[data-placement="top"] {
  margin-bottom: 5px;
}

.popper[data-placement="top"] .popper__arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.popper[data-placement="bottom"] {
  margin-top: 5px;
}

.popper[data-placement="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.popper[data-placement="right"] {
  margin-left: 5px;
}

.popper[data-placement="right"] .popper__arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.popper[data-placement="left"] {
  margin-right: 5px;
}

.popper[data-placement="left"] .popper__arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

:global(.rc-slider-handle) + .popper {
  visibility: hidden;
}

:global(.rc-slider-handle:focus) + .popper {
  visibility: visible;
}

.popper-manager {
  display: inline-block;

  .popper-target + .popper {
    visibility: hidden;
  }

  .popper-target:hover + .popper {
    visibility: visible;
  }
}

.postGuidelines {
  text-align: left;

  :global(.card) {
    height: 100%;
  }

  :global(.card-header) {
    color: white;
    font-weight: bold;
    background-color: $SCUred;
    text-align: center;
  }
}

.postGuidelines ~ h3 + h6 {
  margin-top: 25px;
}

.postGuidelines + h3 {
  margin-top: 25px;
}

.postGuidelines ~ h3:not(:first-of-type) {
  margin-top: 75px;
}
