@import "theme";

.postGuidelines {
  text-align: left;
  :global(.card-header) {
    color: white;
    font-weight: bold;
    background-color: $SCUred;
    text-align: center;
  }
}

.handleNum {
  font-weight: bold;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

$handleTransition: all 0.25s ease 0s;
:global(.rc-slider) {
  margin: 9px auto;
  width: 300px;
  max-width: 90%;
  height: 15px;
  padding: 0;

  &-rail {
    background-color: $overlayBackground;
    height: 15px;
  }

  &-step {
    bottom: 0;
  }

  &-dot {
    border: 0;
    bottom: 0;
    width: 2px;
    color: white;
    border-radius: 0;
    background-color: white;
    height: 15px;
  }

  &-track {
    background-color: $overlayBackground;
    transition: $handleTransition;
  }

  &-handle {
    transition: $handleTransition;
  }
}

:global(.rc-slider-dot:first-child), :global(.rc-slider-dot:last-child) {
  display: none;
}

:global(.track1) {
  background-color: red;
}

:global(.track2) {
  background-color: orange;
}

:global(.track3) {
  background-color: greenyellow;
}

:global(.track4) {
  background-color: green;
}


/*BEGIN POPPER CSS*/
.popper,
:global(.tooltip) {
  position: absolute;
  background: #FFC107;
  color: black;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px;
  text-align: center;
}

.popper .popper__arrow,
:global(.tooltip) .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: #FFC107;
}

.popper[data-placement="top"],
:global(.tooltip[data-placement="top"]) {
  margin-bottom: 5px;
}

.popper[data-placement="top"] .popper__arrow,
:global(.tooltip[data-placement="top"]) .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[data-placement="bottom"],
:global(.tooltip[data-placement="bottom"]) {
  margin-top: 5px;
}

.popper[data-placement="bottom"] .popper__arrow,
:global(.tooltip[data-placement="bottom"]) .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.popper[data-placement="right"],
:global(.tooltip[data-placement="right"]) {
  margin-left: 5px;
}

.popper[data-placement="right"] .popper__arrow,
:global(.tooltip[data-placement="right"]) .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.popper[data-placement="left"],
:global(.tooltip[data-placement="left"]) {
  margin-right: 5px;
}

.popper[data-placement="left"] .popper__arrow,
:global(.tooltip[data-placement="left"]) .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
/*END POPPERJS*/

:global(.rc-slider-handle) + .popper {
  opacity: 0;
}

:global(.rc-slider-handle:focus) + .popper {
  opacity: 1;
}

.popper-manager,
.popper,
:global(.tooltip) {
  transition: all .2s ease-in-out;
}

.tooltip-manager {
  display: inline-block;
  .tooltip-target:hover + :global(.tooltip) {
    opacity: 1;
  }
}