@import "theme";

.signOutBtn {
  font-weight: bold;
  padding: 0;
  color: $SCUred;
  background: initial;
  border: none;

  &:hover {
    color: $SCUdarkred;
  }
}

.banner {
  background: $SCUred;
  color: white;
  padding: 7px;
  margin-bottom: 20px;
}

.form-container {
  max-width: 350px;
  margin-right: auto !important;
  margin-left: auto !important;
}
