.recentEvals {
  margin-top: 30px;
  margin-bottom: 15px;

  :global(.list-group-item) {
    padding: 5px 0;

    :global(.flex) {
      font-size: 14px;
      margin-top: 6px;
    }

    circle {
      transform: rotate(-90deg) scaleY(-1) scale(0.8) !important;
    }

    text {
      font-size: 12px !important;
    }
  }

  .widthStyle {
    min-width: 478px;
    max-width: 750px;
    margin: 0 auto;
  }

  h5 {
    margin-bottom: 0;
  }
}
