@import "theme";

$xs: 575px;

@media (max-width: $xs) {
  [data-target|='#serverSideDesc'] {
    margin-top: 3rem;
  }
}

.content { //not affecting col in header
  *[class^="col"] {
    padding: 15px;
  }
}

.banner {
  background-color: $SCUred;
  color: white;
  padding: 7px;
  margin-bottom: 20px;
}

.error {
  box-shadow: 0 0 0 2px $SCUred;
  border-radius: 4px;
}

.form-container {
  max-width: 350px;
  margin-right: auto !important;
  margin-left: auto !important;
}

.react-bs-table-container {
  td {
    padding: 0;

    a {
      padding: 0.75rem;
      display: block;

      &:hover {
        transition: none;
      }
    }
  }

  tr {
    &:hover {
      a {
        color: $SCUdarkred;
      }
    }
  }
}
