@import "theme";

$xs: 575px;

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
}

@mixin button { //not to be used with <i> tags as buttons
  color: white;
  background-color: $SCUred;
  cursor: pointer;
  font-weight: 600;
  &:hover {
     background-color: $SCUdarkred;
  }
}

button {
  @include button;
}

body {
  background-color: $backgroundColor;
  text-align: center;
  height: 100%;
  min-height: 100vh;
}

form.content {
  .form-control {
    border: 1px solid $backgroundColor;
  }
}

.content {
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .25rem;
  background: white;
  padding: 15px;
  margin: 15px 0;
  width: 100%;
  position: relative;
  .signOutBtn { //for when no header (not signed in)
    font-weight: bold;
    padding: 0;
    color: $SCUred;
    &:hover {
      color: $SCUdarkred;
    }
    background-color: initial;
    border: none;
  }
}

footer {
  color: white;
  a {
    font-weight: normal;
    color: white; //added again for specificity because overwritten by a tag's default css
    &:focus {
      color:white;
    }
    &:hover {
      color: $hoverOverlayLinkColor;
    }
  }
  background-color: $overlayBackground;
  position: relative;
  //margin-top: -$footerHeight;
  height: $footerHeight;
  line-height: 35px;
}

i.homeBtn {
  cursor: pointer;
  font-size: 1.75rem;
  position: absolute;
  left: 10px; //+5px for padding = 15px
  height: 100%;
  padding: 0 5px;
  top: 0;
  align-items: center;
  display: flex;
}


a {
  transition: all .2s ease-in-out;
  font-weight: bold;
  text-decoration: none !important;
  color: $linkColor;
  &:focus {
    color: $linkColor;
  }
  &:hover {
    color: $hoverLinkColor;
  }
}

.blueLink {
  color: $linkColor;
}

@media (max-width: $xs) {
  [data-target|='#serverSideDesc'] {
    margin-top: 3rem;
  }
}

#aboutEnd {
  margin-bottom: 50px;
}

textarea {
  width: 100%;
}

.loadingWrapper {
 @include absoluteCenter;
 color: $SCUred;
 height: auto !important;
}

#toggleFullscreenBtn {
  position: fixed;
  top:64px;
  right: 15px;
  color: $SCUred;
  z-index: 1;
  font-size: 26px;
  cursor: pointer;
}

html {
  position: relative;
  height: 100%;
}


#push-footer {
    min-height: calc(100% - #{$footerHeight});
    position: relative;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

#app, #app > div {
  height: 100%;
}

body::after {
  content: "";
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  height: 100vh;
  z-index: -1;
}

table {
  text-align: left;
}

form {
  i {
    font-size: 25px;
    color: $SCUred;
    cursor: pointer;
    &:hover {
      color: $SCUdarkred;
    }
  }
  h6 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}

textarea {
  outline: 1px solid $overlayBackground;
  max-width: 750px;
  resize: none;
  &:focus {
    outline: 2px solid $SCUdarkred;
  }
}

.content.results {
  h4 {
  margin-top: 35px;
  text-align: left;
  font-weight: bold;
  }
  h5 {
    margin-bottom: 0;
  }
}

.login {
  width: 258px; //270px when font-weight is bold
  .loginBtn {
    padding: 0;
    border: 0;
    &:hover {
      background-color: $SCUdarkred;
    }
    img {
      cursor: pointer;
      height: 100%;
      padding: 2px;
      border-radius: $defaultBorderRadius;
    }
    span {
      cursor: pointer;
      font-size: 19px;
      justify-content: center;
      align-items: center;
      display: flex;
      height: 100%;
    }
    color: white;
    border-radius: $defaultBorderRadius;
    background-color: $SCUred;
    width: 100%;
    height: 51px;
  //  border: 7px solid black;
  }
  h1 {
    border-radius: $defaultBorderRadius;
    background-color: $SCUred;
    color: white;
    font-size: 3rem;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;

  div.container { //not footer's container, only div
    width: initial;
    padding: 15px; //adds top and bottom padding
  }
}

.content { //not affecting col in header
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 15px;
  }
}

label:not(:last-child) {
  padding-right: 15px;
}

.Select {
  text-align: left;
  margin: auto;
  margin-bottom: 50px;
  max-width: 350px;
  .Select-value-icon {
    width: 19px;
  }
  .Select-clear-zone {
    position: absolute;
    right: 25px;
    top: 3px;
    &:hover {
      color: $SCUdarkred;
    }
  }
  .Select-menu-outer {
    &:hover {
      color: $SCUdarkred;
      background-color: $backgroundColor;
    }
  }
  .Select-arrow-zone, .Select-clear-zone {
    vertical-align: top;
  }
}

.Select.Select--multi .Select-multi-value-wrapper {
  padding-right: 20px;
  .Select-value {
    .Select-value-icon:hover {
      background-color: $SCUdarkred;
      color: white;
    }
    margin: 4px 0 0 4px;
    height: 100%;
    display: flex;
    color: white;
    background-color: $SCUred;
  }
  display: flex;
  flex-wrap: wrap;
}

.banner {
  background-color: $SCUred;
  color: white;
  padding: 7px;
  margin-bottom: 20px;
}

label {
  margin-bottom: 0;
}

.Select-option {
  &:hover {
    background-color: $backgroundColor;
    color: $SCUdarkred;
  }
  border-bottom: 1px solid $backgroundColor;
  color: $overlayBackground;
  font-weight: bold;
}

.Select-option.is-selected {
  &:hover {
    background-color: $backgroundColor;
    color: $SCUdarkred;
  }
  background-color: white;
}

.Select-option.is-selected {
  color: $SCUred;
}

.Select-value {
  text-align: center;
}

.Select--multi .Select-value-icon {
  display: flex;
  align-items: center;
}

.Select-value-icon {
  float: left;
}

.has-value.is-clearable.Select--single>.Select-control .Select-value {
  padding: inherit;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
  top: initial;
}

.flex h3 {
  position: relative; //for home icon to sit inside h3 when signed out
}

h6 {
  font-size: 1.1rem;
}

* {
  text-overflow: ellipsis;
  font-family: 'Roboto', sans-serif;
}

.error {
  box-shadow: 0 0 0 2px $SCUred;
  border-radius: 4px;
}

label {
  display: flex;
  align-items: center;
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 3px;
}

.form-container {
  max-width: 350px;
  margin-right: auto !important;
  margin-left: auto !important;
}

.Select-value {
  max-width: 302px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 10px;
}

.react-bs-table-container {
  tr {
    &:hover {
      a {
      color: $SCUdarkred;
    }
    }
  }
  td {
    padding: 0;
    a {
      padding: .75rem;
      display: block;
      &:hover {
        transition: none;
      }
    }
  }
}
