@import "theme";

$xs: 575px;

i.homeBtn {
  cursor: pointer;
  font-size: 1.75rem;
  position: absolute;
  left: 10px;
  height: 100%;
  padding: 0 5px;
  top: 0;
  align-items: center;
  display: flex;
}

@media (max-width: $xs) {
  [data-target|='#serverSideDesc'] {
    margin-top: 3rem;
  }
}

#app,
#app > div {
  height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;

  div.container { //not footer's container, only div
    width: initial;
    padding: 15px; //adds top and bottom padding
  }
}

.content { //not affecting col in header
  *[class^="col"] {
    padding: 15px;
  }
}

.banner {
  background-color: $SCUred;
  color: white;
  padding: 7px;
  margin-bottom: 20px;
}

.flex h3 {
  position: relative; //for home icon to sit inside h3 when signed out
}

.error {
  box-shadow: 0 0 0 2px $SCUred;
  border-radius: 4px;
}

.form-container {
  max-width: 350px;
  margin-right: auto !important;
  margin-left: auto !important;
}

.react-bs-table-container {
  td {
    padding: 0;

    a {
      padding: 0.75rem;
      display: block;

      &:hover {
        transition: none;
      }
    }
  }

  tr {
    &:hover {
      a {
        color: $SCUdarkred;
      }
    }
  }
}
