@import "~react-bootstrap-table/dist/react-bootstrap-table.min";
@import "~react-select/dist/react-select.min";

$backgroundColor: #d7d7d7;
$overlayBackground: #212529;
$SCUred: #b30738;
$SCUdarkred: #820529;
$linkColor: $SCUred;
$hoverLinkColor: $SCUdarkred;
$hoverOverlayLinkColor: #ffb6ca;
$headerHeight: 99px;
$footerHeight: 35px;
$defaultBorderRadius: 0.25rem;
$defaultTransition: all 0.2s ease-in-out;
$focusColor: #80bdff;
$xs: 575px;
$sm: 767px;

@mixin fixedCenter {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
}
