@import "~react-bootstrap-table/dist/react-bootstrap-table.min";
@import "~react-select/dist/react-select.min";

$backgroundColor: #f0f0f0;
$overlayBackground: #444;
$SCUred: #b30738;
$SCUdarkred: #97052e;
$linkColor: $SCUred;
$hoverLinkColor: $SCUdarkred;
$hoverOverlayLinkColor: #ffb6ca;
$headerHeight: 99px;
$footerHeight: 35px;
$defaultBorderRadius: 0.25rem;
$defaultTransition: all 0.2s ease-in-out;
$focusColor: #80bdff;

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
}

@mixin button { //not to be used with <i> tags as buttons
  color: white;
  background-color: $SCUred;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    background-color: $SCUdarkred;
  }
}
