@import 'theme';

.viewEvals {
  .buttonGroup {
    margin: 7.5px -7.5px;

    :global(.btn) {
      margin: 7.5px;
    }
  }

  h2 {
    margin-bottom: 0;
  }

  :global(#relatedInfo) table {
    margin-bottom: 15px;
  }
}
