@import "theme";

.scoreBlock {
  padding: 5px 0;
  font-size: 15px;

  .scoreTitle {
    margin-bottom: 5px;
  }
}

.scores {
  margin: 50px 0;
  display: flex;
  justify-content: center;

  .avgScore {
    @media (max-width: $xs) {
      width: (100% / $xsBP);
    }

    @media (min-width: $sm) {
      width: (100% / $smBP);
    }

    @media (min-width: $md) {
      width: (100% / $mdBP);
    }

    @media (min-width: $lg) {
      width: (100% / $lgBP);
    }

    @media (min-width: $xl) {
      width: (100% / $xlBP);
    }
  }

  svg {
    width: 55px;
    height: 55px;

    text {
      dominant-baseline: central;
      text-anchor: middle;
      fill: white;
      font-size: 20px;
    }

    circle {
      transform: rotate(-90deg) scaleY(-1);
      transform-origin: center;
      stroke-width: 4;
      animation: score 1s;
      stroke-dasharray: 157.08;
      stroke-dashoffset: 157.08;
      stroke: $overlayBackground;
    }

    //circumference w/ r=25 = 157.080
    &.score1 circle {
      fill: $score1Color;
    }

    &.score2 circle {
      fill: $score2Color;
    }

    &.score3 circle {
      fill: $score3Color;
    }

    &.score4 circle {
      fill: $score4Color;
    }
  }
}

@keyframes score {
  from {
    stroke-dashoffset: 157.08;
  }
}
