@import 'theme';

.viewEvals {
  .buttonGroup {
    margin: 7.5px -7.5px;

    :global(.btn) {
      margin: 7.5px;
    }
  }

  h2 {
    margin-bottom: 0;
  }

  .scores {
    margin: 0 -7.5px;

    .scoreBlock {
      padding: 5px 0;
      font-size: 15px;
    }

    .scoresWrapper {
      font-size: 14px;
      margin: 15px 7.5px 0;
      display: inline-block;
      border: 1px solid $backgroundColor;
      border-radius: $defaultBorderRadius;
      background: $sandColor;

      .scoreHeader {
        font-size: 11px;
        color: #866c50;
        border-bottom: 1px solid $sandColor;
        margin-bottom: 3px;
        background: #f5e3d0;
        border-color: #e8d2ba;
      }

      .scoresGroup {
        padding: 5px;
      }

      svg {
        width: 55px;
        height: 55px;
        transform: scale(0.81);

        text {
          dominant-baseline: central;
          text-anchor: middle;
          fill: white;
          font-size: 20px;
        }

        circle {
          transform: rotate(-90deg) scaleY(-1);
          transform-origin: center;
          stroke-width: 4;
          animation: score 1s;
          stroke-dasharray: 157.08;
          stroke-dashoffset: 157.08;
          stroke: $overlayBackground;
        }
      }

      .avgScore {
        width: 110px;
        display: inline-block;
      }

      &.scoresWrapperTop {
        padding: 5px;

        .avgScore:nth-child(odd) {
          width: inherit;
          font-size: 12px;

          .scoreTitle {
            margin-bottom: -8px;
          }

          svg {
            transform: scale(0.61);
          }
        }

        .avgScore:nth-child(even) {
          width: 105px;
          font-size: 18px;

          .scoreTitle {
            margin-bottom: 5px;
          }

          svg {
            transform: scale(1.21);
            margin-top: 5px;
          }
        }
      }

      :global(.popper-manager) {
        position: relative;

        :global(.popper-target) {
          position: absolute;
          top: -55px;
          left: -15px;
        }

        :global(.tooltip-popper) {
          width: 115px;
        }
      }
    }
  }

  @keyframes score {
    from {
      stroke-dashoffset: 157.08;
    }
  }

  :global(#relatedInfo) table {
    margin-bottom: 15px;
  }
}
