$backgroundColor: #F7F7F7;
$searchbarBackground: #444;
$searchbarHeight: 107px;
$footerHeight: 35px;
$SCUred: #b30738;
$SCUdarkred: #97052e;
$linkColor: $SCUred;
$hoverLinkColor: $SCUdarkred;
$hoverOverlayLinkColor: #ffb6ca;

$xs: 575px;

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
}

@mixin button { //not to be used with <i> tags as buttons
  color: white;
  background-color: $SCUred;
  cursor: pointer;
  font-weight: 550;
  &:hover {
    background-color: $SCUdarkred;
  }
}

button {
  @include button;
}

body {
  background-color: $backgroundColor;
  text-align: center;
}

.searchBackground {
  height: $searchbarHeight;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $searchbarBackground;
  color: white;
  .input-group-btn > button {
    @include button;
  }
  form {
    padding-top:5px;
    label {
      font-size: 1.25rem;
    }
    #myAccount {
      padding-right: 0;
    }
  }
}

form {
  padding: 25px;
  .form-control {
    border: 1px solid $backgroundColor;
  }
}

.content {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  background: white;

  margin-top: $searchbarHeight;
  margin-bottom: $footerHeight;
}

footer {
  color: white;
  a {
    font-weight: normal;
    color: white; //added again for specificity because overwritten by a tag's default css
    &:focus {
      color:white;
    }
    &:hover {
      color: $hoverOverlayLinkColor;
    }
  }
  background-color: $searchbarBackground;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  line-height: 35px;
}

i.closeBtn {
  float: right;
  cursor: pointer;
  padding: 0;
  color: $SCUred;
  font-size: 1.75rem;
  &:hover {
    color: $SCUdarkred;
  }
}


a {
  transition: all .2s ease-in-out;
  font-weight: bold;
  text-decoration: none !important;
  color: $linkColor;
  &:hover {
    color: $hoverLinkColor;
  }
}

.blueLink {
  color: $linkColor;
}

@media (max-width: $xs) {
  [data-target|='#serverSideDesc'] {
    margin-top: 3rem;
  }
}

#aboutEnd {
  margin-bottom: 50px;
}

label.form-check-label {
  transform: scale(1.25);
}

textarea {
  width: 100%;
}

.loadingWrapper {
 @include absoluteCenter;
 color: $SCUred;
}
